.contact-container {
  margin-top: 1rem;
  padding-top: 3rem;
  overflow: hidden;
}

.form {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.user {
  width: 60%;
  height: 2rem;
  padding: 0.3em;
  outline: none;
  border: 2px solid gray;
  border-radius: 8px;
  font-size: 16px;
}

textarea {
  height: 8rem !important;
}
